*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: open sans;
}

i, svg{
    pointer-events: none;
}

.heading{
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -2rem;
}
.beta{
    background: red;
    font-size: 1.7rem;
    padding: 0.2rem;
    color: #fff;
    border-radius: 5px;
}
.sequenser{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.kick-pad, .snare-pad, .hihat-pad, .clap-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    background: rgb(106, 161, 250);
}

.kick-pad.active, .snare-pad.active, .hihat-pad.active, .clap-pad.active{
    background: rgb(224, 192, 9);    
}
.kick-track, .snare-track, .hihat-track, .clap-track{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-top: 3rem;
}
.kick, .snare, .hihat, .clap{
    display: flex;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    font-size: 0.7rem;
}

.controls button{
    padding: 1rem;
    border: none;
    background: rgb(35, 35, 214);
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -5px -20px 5px -28px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -5px -20px 5px -28px rgba(0,0,0,0);
    margin-left: 1rem;
    margin-right: 1rem;
}

.pad{
    transition: all 0.3s ease;
    box-shadow: -4px 2px 68px -22px rgba(0,0,0,0.59) inset;
    -webkit-box-shadow: -4px 2px 68px -22px rgba(0,0,0,0.59) inset;
    -moz-box-shadow: -4px 2px 68px -22px rgba(0,0,0,0.59) inset;
    border-radius: 10px;
    cursor: cell;
}

.play{
    background: crimson;
    border:none;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -5px -20px 5px -28px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -5px -20px 5px -28px rgba(0,0,0,0);
    margin-top: 1rem;
}

select{
    padding: 1rem;
    font-size: 1rem;
}
.mute.active{
    background: red;
}
@keyframes playTrack {
    from {
      border: none;
    }
    to {
      border: solid 3px blue;
    }
  }

  .tempo{
      margin-top: 2rem;
  }